
@import url('https://fonts.googleapis.com/css?family=Lora|Muli');

* {margin:0;padding:0;box-sizing:border-box;}

.wrapper{
	padding-left: 10em;
	padding-right: 10em;
	padding-bottom: 2em;
	padding-top: 0em;
}

.nav{
	list-style: none;
	text-align: center;	
	padding-top: 1em;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	width: 10%;
	color: rgba(135,191,190, 0.8);
	font-family: 'Muli', sans-serif;
}

header {
	padding: 2em;
	text-align: center;
	margin: auto;
}

footer{
	height: 300px;
	padding: 20px;
	text-align: center;
}

h1{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 3.0em	
}

h2{
	font-family: 'Lora', serif;
	font-size: 2.5em
}

h3{
	font-family: 'Muli', sans-serif;
	font-size: 1em;
	color: rgba(135,191,190, 0.8);
}

p{
	font-family: 'Muli', sans-serif;
	padding-top: 1em;
}

.hello-section{
	padding: 15%;
	width: 70%;
	margin: auto;
}

.section-header{
	padding-top: 1em;
}

#intro_copy{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 1.3em	
}

.Listheading{
	font-family: 'Lora', serif;
	color: #ffff;
	font-size: 1.5em
}

.column{
	padding: 2em;
	width: 33.3%;
	height: 300px;
	float: left;
	background-color: powderblue;
}


#email{
	font-family: 'Muli', sans-serif;
	color: #7E7B7F;
	font-size: 1em
}


#get-in-touch{
	text-align: right;
}

.what-i-do{

}

#footerheading{
	font-family: 'Lora', serif;
	font-size: 1.25em;
	padding: 2.25% 1% 3% 0%;
}

#footerp{
	padding-left: 20%;
}

.text_footer{
	text-align:	right;
	width: 70%;
	height: 265px;
	padding: 2em;
	float: left;
	background-color: rgba(135,191,190, 0.6);
}

.footer_image{
	width: 30%;
	float: left;
}

#email{
	text-decoration: none;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}