
@import url('https://fonts.googleapis.com/css?family=Lora|Muli');

* {margin:0;padding:0;box-sizing:border-box;}

body{
	font-size: 12px;
}

.wrapper{
	padding-left: 7em;
	padding-right: 7em;
	padding-bottom: 0em;
	padding-top: 0em;
	max-width: 100em;
	margin: auto;
}

.nav{
	list-style: none;
	text-align: center;	
	padding-top: 1em;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	text-decoration: none;
	width: 10%;
	color: rgba(135,191,190, 0.8);
	font-family: 'Muli', sans-serif;
}

header {
	padding: 2em;
	text-align: center;
	margin: auto;
}

footer{
	height: 300px;
	text-align: center;
}

h1{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 3.0em	
}

h2{
	font-family: 'Lora', serif;
    font-size: 6em;
    line-height: 0.4em;

}

h3{
	font-family: 'Muli', sans-serif;
	font-size: 2em;
	color: rgba(135,191,190, 0.6);
}

h4{
	font-family: 'Lora', serif;
	font-size: 2em;
}

p{
	font-family: 'Muli', sans-serif;
	padding-top: 0em;
	font-size: 1.3em;

}

.hello-section{
	padding: 15%;
	width: 70%;
	margin: auto;
}

.section-header{
	padding-top: 1em;
}

#intro_copy{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 2em
}

.Listheading{
	font-family: 'Lora', serif;
	color: #FFFFFF;
	font-size: 3.7em;
	font-weight: 200;
}

.column{
	padding: 2em;
	width: 33.3%;
	height: 25em;
	float: left;
}

.column{
	padding: 7em 5.9em 2em 2em;
	width: 50%;
	height: 25em;
	float: left;
}


.columntext{
	color: white;
	font-weight: 100;
}

#column1{
	background-image: url("../images/concept5.jpg");
	background-size: cover;
}

#column2{
	background-image: url("../images/design2.jpg");
	background-size: cover;
}

#column3{
	background-image: url("../images/build1.jpg");
	background-size: cover;
}

#column4{
	background-image: url("../images/maintain.jpg");
	background-size: cover;
}

#example1{
	background-image: url("../images/example11.jpg");
	background-size: cover;
	text-align: center;
	padding: 7em 3em 2em 3em;
}

#example2{
	background-image: url("../images/example21.jpg");
	background-size: cover;
	text-align: center;
	padding: 7em 3em 2em 3em;
}

#example3{
	background-image: url("../images/example31.jpg");
	background-size: contain;
	width: 100%;
	text-align: center;
	padding: 7em 17em 2em 17em;
}


#get-in-touch{
	text-align: right;
}


.footercontent{
	background-color: rgba(135,191,190, 0.6);
	width: 100%;
	margin-bottom: 2em;
}

.footerp{
	float: left;
	width: 70%;
	padding: 4em 2em 4em 10em;
	text-align: right;
}

.emailtag{
	color: black;
	font-size: 2em;
	text-decoration: underline;
}

#footerimage{
	width: 30%;
	float: left;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.footercontent p{
	padding-top: 1em;
	padding-left: 7em;
}

@media only screen and (max-width: 1000px) {
	
	.wrapper{
		padding-left: 4em;
		padding-right: 4em;
	}
}

@media only screen and (max-width: 850px) {
	.footerp{
		padding: 4em 2em 3em 2em;
	}
	.hello-section{
		width: 80%;
		padding: 10%;
	}
}

@media only screen and (max-width: 750px) {
	.wrapper{
		padding-left: 4em;
		padding-right: 4em;
		padding-bottom: 0em;
		padding-top: 0em;
		max-width: 100em;
		margin: auto;
	}
	.footerp{
		float: none;
		width: 100%;
	}
	#footerimage{
		float: none;
		width: 100%;
	}
	.column{
		float: none;
		width: 100%;
		margin: 0em;
		}

	.hello-section{
		padding: 5%;
		width: 100%;
		margin: auto;
	}

	#footerimage{
		display:none;
	}

	p{
		font-size: 1.5em;
	}

	#example3{
		padding: 7em 3em 2em 3em;
	}
}

@media only screen and (max-width: 550px) {
		.wrapper{
			padding-left: 0em;
			padding-right: 0em;
			max-width: 100%;
		}
		h2{
			font-size: 5.5em;
		}

@media only screen and (min-width: 600px) and (max-width: 800px) {
	
}