body {
	background-color: (255,0,0);
	font-size: 100%	
}

h4{
	color: #2A7A77;
	font-family: 'Muli', sans-serif;
	font-weight: 300;
	text-align: center;
}

h1{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 3.0em	

}

.Hi{
	font-family: 'Lora', serif;
	text-align: center;
	font-size: 2em
}

#intro{
	font-family: 'Muli', serif;
	color: #2A7A77;
	text-align: center;
	font-size: 1.3em
}

.centerimage{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width: 13%;
}

content{
	text-align: center;
}

h3{
	font-family: 'Lora', serif;
	font-size: 2.5em
}

.Listheading{
	font-family: 'Muli', serif;
	color: #2A7A77;
	font-size: 1.5em
}

footer{
	text-align: center;
}

#email{
	font-family: 'Muli', sans-serif;
	color: #7E7B7F;
	font-size: 1em

}